@using ReadExcel.Models
@model IEnumerable<UserModel>
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
       <meta name="viewport" content="width=device-width" />
    <title>Users</title>
</head>
<body>
    @using (Html.BeginForm("Index","user",FormMethod.Get))
            {
                <input type="submit" value="Get Users" />
            }
    @if (Model.Count()>0)
            {
                <hr />
                <table cellpadding="0" cellspacing="0" border="1">
                    <tr>
                        <th>구분</th>
                        <th>일련번호</th>
                        <th>질문</th>
                        <th>응답유형</th>
                        <th>비고</th>
                    </tr>
                    @foreach (UserModel user in Model)
                {
                <tr>
                    <td>@user.A</td>
                    <td>@user.B</td>
                    <td>@user.C</td>
                    <td>@user.D</td>
                    <td>@user.E</td>-
                </tr>
                }
                </table>
            }
</body>
</html>