@using ReadExcel.Models
@model Tuple<IEnumerable<UserModel>,IEnumerable<classnum>>
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
       <meta name="viewport" content="width=device-width" />
    <title>Users</title>
</head>
<body>
    @using (Html.BeginForm("Index", "user", FormMethod.Get))
    {
        <input type="submit" value="Get Users" />
    }
    @if (Model.Item1.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0" border="1">
            <tr>
                <th>구분</th>
                <th>일련번호</th>
                <th>질문</th>
                <th>응답유형</th>
                <th>비고</th>
            </tr>
            @foreach (UserModel user in Model.Item1)
            {
                <tr>
                    <td>@user.A</td>
                    <td>@user.B</td>
                    <td>@user.C</td>
                    <td>@user.D</td>
                    <td>@user.E</td>-
                </tr>
            }
        </table>
    }
    @if (Model.Item2.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0" border="1">
            <tr>
                <th>학수번호</th>
                <th>과목명</th>
                <th>학점</th>
                <th>연도</th>
            </tr>
            @foreach (classnum class_ in Model.Item2)
            {
                <tr>
                    <td>@class_.num</td>
                    <td>@class_.name</td>
                    <td>@class_.grade</td>
                    <td>@class_.year</td>
                </tr>
            }
        </table>
    }
</body>
</html>