@using ReadExcel.Models
@model Tuple<IEnumerable<UserSubject>, UserInfo, List<Rule>>
@{
  Layout = null;
}

<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <title>UserView</title>
</head>

<body>
  @using (Html.BeginForm("start", "User", FormMethod.Get))
  {
    <input type="submit" value="Go Back" />
  }
  @if (Model.Item1.Count() > 0)
  {
    <hr />
    <table cellpadding="0" cellspacing="0" border="1">
      <tr>
        <th>년도</th>
        <th>학기</th>
        <th>이수구분</th>
        <th>이수구분영역</th>
        <th>학수번호</th>
        <th>교과목명</th>
        <th>학점</th>
        <th>공학요소</th>
        <th>공학세부요소</th>
        <th>원어강의종류</th>
      </tr>
      @foreach (UserSubject user in Model.Item1)
      {
        <tr>
          <td>@user.year</td>
          <td>@user.semester</td>
          <td>@user.completionDiv</td>
          <td>@user.completionDivField</td>
          <td>@user.classCode</td>
          <td>@user.className</td>
          <td>@user.credit</td>
          <td>@user.engineeringFactor</td>
          <td>@user.engineeringFactorDetail</td>
          <td>@user.english</td>

        </tr>
      }
    </table>
  }
  <hr />
  <table cellpadding="0" cellspacing="0" border="1">
    <tr>
      <th>공통교양</th>
      <th>기본소양</th>
      <th>msc</th>
      <th>전공</th>
      <th>전공설계</th>
      <th>영어</th>
    </tr>
    <tr>
        <td>@Model.Item2.publicLibCredit</td>
        <td>@Model.Item2.basicLibCredit</td>
        <td>@Model.Item2.mscCredit</td>
        <td>@Model.Item2.majorCredit</td>
        <td>@Model.Item2.majorDesignCredit</td>
        <td>@Model.Item2.englishCredit</td>
        <td>@Model.Item2.applicationYear</td>
        <td>@Model.Item2.major</td>
    </tr>
  </table>
  <hr />
  @* <table cellpadding="0" cellspacing="0" border="1">
    <tr>
    <th>학수번호</th>
    </tr>
    @foreach (string list in Model.Item3.basic_list)
    {
    <tr>
    <td>@list</td>
    </tr>
    }
    </table> *@
  <p>@(Model.Item3.Count())</p>
  @if (Model.Item3.Count() > 0)
  {
    int passedRule = 0;
    <hr />
    <table cellpadding="0" cellspacing="0" border="1">
      <tr>
        <th>번호</th>
        <th>구분</th>
        <th>질문</th>
        <th>만족여부</th>
      </tr>
      @foreach (Rule rule in Model.Item3)
      {
        if (5 < Convert.ToInt32(@rule.number) && Convert.ToInt32(@rule.number) < 32)
        {
          <tr>
            <td>@rule.number</td>
            <td>@rule.type</td>
            <td>@rule.question</td>
            <td>
              @if (Convert.ToInt32(@rule.number) > 5)
              {
                if (@rule.isChecked())
                {
                  <center>O</center>
                  passedRule += 1;
                }
                else
                {
                  <center><b>X</b></center>
                }
              }
            </td>
          </tr>
        }
      }
    </table>
    <hr />
    <table cellpadding="0" cellspacing="0" border="1">
      <tr>
        <th>졸업가능여부</th>
        <th>만족조건/전체조건</th>
      </tr>
      <tr>
        <td>
          <center>
            @if (passedRule < 27)
            {
              <b>Fail</b>
            }
            else
            {
              <b>Pass</b>
            }
          </center>
        </td>

        <td>@passedRule / 27</td>
      </tr>
    </table>
  }
</body>

</html>