@using ReadExcel.Models
@model Tuple<List<RuleTemplate>>
@{
  Layout = null;
  int i = 1;
}
<html>

<head>
  <title>졸업사정 관리자 페이지</title>
</head>

<body>
  <center>
    <h1>졸업사정 체크리스트 목록</h1>
    <hr width="30% /">
    <table cellpadding="0" cellspacing="0" border="1">
      <tr>
        <th>NO</th>
        <th>Name</th>
        <th>입학년도</th>
        <th>전공</th>
      </tr>
      @foreach (RuleTemplate rt in Model.Item1)
      {
        <tr>
          @* <td>@rt.indexNum</td> *@
          <td>@i</td>
          <td>@rt.ruleName</td>
          <td>@rt.year</td>
          <td>@rt.major</td>
        </tr>
        i += 1;
      }
    </table>
    <hr width="30% /">
    @using (Html.BeginForm("Upload", "Admin", FormMethod.Get))
    {
      <input type="submit" value="추가" />
    }
  </center>
</body>

</html>